/* add css module styles here (optional) */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 5px solid #a89d9b;
  width: fit-content;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20%;
  margin: 20px;
  font-weight: bold;
}
.childContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 15px;
  width: 100%;
}